@import "../css/common.css"

@import "_vars.sss"
@import "_base.sss"
@import "_text-styles.sss"
@import "_form-elements.sss"
// @import "_title-block.sss"
// @import "_paginator.sss"

@import "_main-page.sss"
@import "_main-advantages.sss"
@import "_main-orgs.sss"
@import "_main-programm.sss"
@import "_main-how.sss"

@media screen and (max-width: 660px)
	.wrapper
		padding-left: 21px !important
		padding-right: 21px !important

.advantage, .programm-item, .person, .for, .how-item
	opacity: 0