<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug
		main#content
			section.top-block
				figure._bg
					img(src="img/photos/top-bg.jpg")
				._text
					.wrapper
						.top-text
							._left
								.top-titles
									._title Coding Class
									._subtitle Бесплатный курс по основам web-разработки
							._right
								.registration
									._title Старт курса 12 апреля 2019 г.
									._text Заполните форму и получите приглашение к участию в двухмесячном курсе
									._btn
										a.gradient-btn(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeKJCb8WBjhF0h2XJro2tpGICVXwul5za98w7sZ2gD9N1FzJA/viewform") Записаться
						.top-block__text-sponsors
							.sponsors
								- for (let i = 0; i < 4; i++)
									._item
										a.sponsor(href="#")
											if (i > 2)
												img(src="img/photos/sponsor-"+(i+1)+".png")
											else
												img(src="img/photos/sponsor-"+i+".png")
			section.advantages__cont
				.wrapper
					.advantages
						._item
							.advantage
								figure._img
									img(src="img/photos/advantages-0.svg")
								._text Начальный и средний уровень знаний
						._item
							.advantage
								figure._img
									img(src="img/photos/advantages-1.svg")
								._text 2 месяца 
									br
									| 6 часов в неделю
						._item
							.advantage
								figure._img
									img(src="img/photos/advantages-2.svg")
								._text Оплачиваемая стажировка
						._item
							.advantage
								figure._img
									img(src="img/photos/advantages-3.svg")
								._text Преподаватели практики
			section.orgs__cont
				.wrapper
					.orgs
						._title Организаторы курса
						._items
							.orgs-list
								._item
									.person
										figure._img
											img(src="img/photos/person-0.jpg")
										._name Ильдар Чуракаев
										._whois Основатель<br> digital-агентства Xpage
										._text «Ваш бизнес способен на большее»
								._item
									.person
										figure._img
											img(src="img/photos/person-2.jpg")
										._name Ярослав Голуб
										._whois Директор<br> интернет-агентства Intec
										._text "Самый простой способ прийти к успеху - работать с теми, кто идёт к успеху"
								._item
									.person
										figure._img
											img(src="img/photos/person-3.jpg")
										._name Роман Тарасенко
										._whois Технический директор агентства маркетинговых коммуникаций<br> «Цифровой элемент»
										._text «Нужно жить всегда влюбленным во что-нибудь недоступное тебе. Человек становится выше ростом от того, что тянется вверх»
								._item
									.person
										figure._img
											img(src="img/photos/person-4.jpg")
										._name Максим Усынин
										._whois Проректор МИДиС
										._text «Чтобы что-то сделать надо начать делать»


			section.programm__cont
				figure.programm__cont-bg
					img(src="img/photos/center-bg.png")
				.wrapper
					.programm
						._who
							.for-who
								._title Для кого этот курс
								._list
									.for-items
										._item
											.for
												figure._img
													img(src="img/photos/for-0.svg")
												._text Для студентов вузов, которым интересна веб-разработка
										._item
											.for
												figure._img
													img(src="img/photos/for-1.svg")
												._text Для начинающих программистов, желающих получить практический опыт экспертов
						._list
							.for-who
								._title Программа обучения
							.programm-list
								each item, i in [{subj: "HTML/CSS", text: "Язык гипертекстовой разметки. Структура HTML-документа. HTML-формы. CSS3. Селекторы, атрибуты, псевдоклассы. Блочная вёрстка."}, {subj: "PHP", text: "Синтаксис. Управляющие конструкции и операторы. Пользовательские функции. Область видимости. Переменные и массивы. Классы и объекты. Сессии. Работа с файловой системой. Динамическая генерация страниц на стороне сервера."}, {subj: "Javascript", text: "Синтаксис. Управляющие конструкции и операторы. Функции и понятие контекста функции. Область видимости. Концепция объектной модели (DOM). Понятие прототипа и прототипного наследования. Манипуляции над объектами дерева DOM. События и обработка событий. Библиотека jQuery. Библиотека Lodash. Ajax."}, {subj: "PHP, MySQL, 1С-Bitrix.", text: "Разработка в CMS Битрикс. Модули. Компоненты. API D7. Работа с сущностями (getlist / add / update / delete)."}, ]
									._item
										.programm-item
											figure._img
												img(src="img/photos/prg-"+i+".svg")
											._title="Блок "+(i+1)+"."
											//- ._subject=item.subj
											._text=item.text
			section.how__cont
				.wrapper
					.how
						._title Как происходит обучение
						._list
							.how-items
								each item, i in ["Вы посещаете лекции и практические занятия 2-3 раза в неделю", "Преподаватели подбирают материалы для самостоятельного изучения", "Эксперты курса проверяют ваши домашние задания и Вы получаете обратную связь", "Оплачиваемая стажировка по окончанию обучения с возможностью трудоустройства", ]
									._item
										.how-item
											figure._img
												img(src="img/photos/how-"+i+".svg")
											._text=item
			section.top-block.-bot
				figure._bg
					img(src="img/photos/bot-bg.png")
				._text
					.wrapper
						.top-contacts
							._title Главный корпус МИДИС
							address._address ул. Ворошилова, д. 12
							address._phone
								a(href="tel: +7-950-729-70-57") +7-950-729-70-57
						.top-text
							._left
								.top-titles
									._title Запишись на
										br
										| бесплатный курс
							._right
								a.gradient-btn(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeKJCb8WBjhF0h2XJro2tpGICVXwul5za98w7sZ2gD9N1FzJA/viewform") Записаться
						.top-block__text-sponsors
							.sponsors
								- for (let i = 0; i < 4; i++)
									._item
										a.sponsor(href="#")
											if (i > 2)
												img(src="img/photos/sponsor-"+(i+1)+".png")
											else
												img(src="img/photos/sponsor-"+i+".png")
		//- #sprite(style="display: none")
			include symbol/sprite.svg
		//- include inc/scripts.pug